<h1 style="text-align: center;"><strong>Login Form</strong></h1>
<div class="row">
  <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form class="example-form" [formGroup]='registerForm'>


          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput [formControl]="userName" value='userName'>
          </mat-form-field>
          <div [hidden]='userName.valid || userName.untouched'>
            <div class="alert alert-danger">
              <div [hidden]="!userName.hasError('required')">User Name is Required</div>
            </div>
          </div><br>





          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="password" value='password'>
          </mat-form-field>
          <div [hidden]='password.valid || password.untouched'>
            <div class="alert alert-danger">
              <div [hidden]="!password.hasError('required')">Password is Required</div>
            </div>
          </div><br>

          <br><br>


          <button style="margin-left: 80%" (click)='submit()' [disabled]='registerForm.invalid' mat-raised-button color="primary">Submit</button>


        </form>
<br><br>
        <a style="margin-left: 45%"  routerLink='/register-form'>New User? Click Here</a>
      </div>
    </div>
  </div>
</div>
