<!-- <nav class="navbar navbar-expand-lg" style="background-color: aqua;">
  <div clas='container-fluid'>
    <strong class="navbar-brand">BookApp</strong>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink='book-menu'>Books</a>
        </li>
        <li class="nav-item">
          <a routerLink='author-menu'>Authors</a>
        </li>

      </ul>
    </div>

  </div>
</nav> -->

<router-outlet>
</router-outlet>
