<h1 style="text-align: center;"><strong>Registeration Form</strong></h1>
<div class="row">
  <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form class="example-form" [formGroup]='registerForm'>


            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput [formControl]="userName" value='userName'>

            </mat-form-field><div [hidden]='userName.valid || userName.untouched'>
              <div class="alert alert-danger">
                  <div [hidden]="!userName.hasError('required')">User Name is Required</div>
                  <div [hidden]="!userName.hasError('pattern')">1) User name must be between 5 to 20 characters.
                    2) User name can have lowercase and uppercase characters.
                    3) User name can be alpha-numeric.
                    4) No special character allowed.</div>
              </div>
          </div><br>




            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput [formControl]="firstName" value='firstName'>
            </mat-form-field><div [hidden]='firstName.valid || firstName.untouched'>
              <div class="alert alert-danger">
                  <div [hidden]="!firstName.hasError('required')">First Name is Required</div>

              </div>
          </div><br>



            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput [formControl]="lastName" value='lastName'>
            </mat-form-field><div [hidden]='lastName.valid || lastName.untouched'>
              <div class="alert alert-danger">
                  <div [hidden]="!lastName.hasError('required')">Last Name is Required</div>


              </div>
          </div><br>



            <mat-radio-group [formControl]='gender'  aria-label="Select an option">
              <mat-radio-button value='Male' >Male</mat-radio-button>
              <mat-radio-button value="Female" >Female</mat-radio-button>
            </mat-radio-group ><br>
          <br>


            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="password" value='password'>
            </mat-form-field><div [hidden]='password.valid || password.untouched'>
              <div class="alert alert-danger">
                  <div [hidden]="!password.hasError('required')">Password is Required</div>
                  <div [hidden]="!password.hasError('pattern')" >6 or more characters,
                    a digit,
                    a lower-case letter,
                    an upper-case letter, (! @ # $ %)</div>
              </div>
          </div><br>



            <mat-form-field class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput [formControl]="confirmpassword" value='confirmpassword' >
            </mat-form-field><div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="alert alert-danger">
              <div *ngIf="confirmpassword.errors.required">Password is required.</div>
              <div *ngIf="confirmpassword.errors.mustMatch">Password and Confirm Password must be match.</div>
          </div>
<br>

<br><br>

            <button [disabled]='registerForm.invalid' style="margin-left: 80%" (click)='submit()' mat-raised-button color="primary">Submit</button>


        </form>
      </div>
    </div>
  </div>
</div>

